# ======================
# Django / Python
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ======================
# Virtual Environment
# ======================
venv/
env/
.venv/
ENV/

# ======================
# Database
# ======================
db.sqlite3

# ======================
# Django Media & Static
# ======================
media/
staticfiles/

# ======================
# Logs
# ======================
*.log

# ======================
# Environment files
# ======================
.env
.env.*
*.env

# ======================
# VS Code / IDE
# ======================
.vscode/
.idea/
*.swp

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# PyCharm
# ======================
*.iml

# ======================
# Django migration cache
# ======================
**/migrations/__pycache__/

# ======================
# pytest / coverage
# ======================
.coverage
htmlcov/

# ======================
# Node (if frontend exists)
# ========

# credential gcp
secrets/
*.json



